*{
    margin: 0;
    padding: 0;
}
header{
    background-color:#caf0f8;
    position: sticky;
    top: 0;
    overflow: hidden;
}
header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
div.logo-class img{
    margin: 12px;
    height: 5rem;
    width: 5rem;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    display: inline;

}
div.menu{
    margin: auto 15px;
}
select{
    background-color: #caf0f8;
    border: none;
    font-size: large;
    font-weight: bold;
}
h1.heading{
    margin: auto;
    font-weight: bolder;
    font-size: xxx-large;
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
}
nav ul {
    list-style-type: none;
    font-size: large;
    margin-top: 15px;
    margin-right: 15px;
}
nav ul li{
    margin-top: 6px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* main section */
main {
    background-color:#8da9c4;
    margin: 0;
    padding: 0;
}
.main-container {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
  
}
.about-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 75%; 
    background-color:#8da9c4;
}
.about-section h1 {
    font-size: 60px;
    color: #333;
    margin: 0 0 20px 0;
    text-align: center;
}
.about-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}
.login-register {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 20%; 
}
.login-register a {
    color: #008cba;
    text-decoration: none;
    font-weight: bold;
}

.login-register a:hover {
    text-decoration: underline;
}


/*footer*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}
footer h2 {
    font-size: 30px; 
    margin: 0;
    padding: 0;
    color: #ffffff;
}
footer p {
    margin: 10px 0;
    font-size: 14px;
    color: #cccccc;
}

footer hr {
    border: 0;
    height: 1px;
    background-color: #555;
    margin: 20px auto; 
    width: 80%; 
}


footer nav {
    text-align: center; 
}

footer nav a {
    color: #008cba;
    text-decoration: none;
    font-size: 14px;
    margin: 0 15px;
    display: inline-block;
}

footer nav a:hover {
    text-decoration: underline;
    color: #ffffff;
}

footer nav {
    margin-top: 10px;
}


@media (max-width: 600px) {
    footer h2 {
        font-size: 24px; 
    }
    
    footer nav a {
        display: block;
        margin: 5px 0;
    }

    footer hr {
        width: 90%; 
    }
}
div.footer-list{
    width: 57%;
    margin: auto;
}