body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Login container styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Full viewport height minus header */
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Form heading styling */
form h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
    color: #333;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Password container styling */
.password-container {
    position: relative;
}

#toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    color: #008cba;
    cursor: pointer;
    font-size: 14px;
}

#toggle-password:hover {
    text-decoration: underline;
}

/* Button styling */
button {
    background-color: #008cba;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #005f6a;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}

register-container{
    width:50%;
    margin: auto;
}